.git
.github
.venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
*.egg-info

build
dist
site
wheelhouse
manuscript
data
benchmarks
docs
examples
overrides
packaging/desktop
scripts
test_data
tests

.DS_Store
*.log
*.tmp
